<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/style_artist.css">
	
</head>
<body>
	<div class="artist_container">
		<div class="artist_menu">
			<div class="header_menu">
				<a href=""><img src="/image/5.png"></a>
			</div>
			<div class="info_user">
				<span><img src="/image/2.jpg"> Hello, <%= session.username%></span>
			</div>
			<div class="content_menu">
				<ul>
					<li class="no_active">
						<a href="/admin/home"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
					</li>
			
                    <li class="no_active">
                        <a href="/admin/userartist" ><i class="glyphicon glyphicon-user"></i> User Artist</a>
                    </li>
                    <li class="active">
                        <a href="/admin/userapproval" ><i class="glyphicon glyphicon-user"></i> User Approval</a>
                    </li>
                
					<li class="no_active">
						<a href=""><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
					</li>
				</ul>			 
			</div>
		</div>
		<div class="artist_content">
			<%include header%>
			<div class="content">
				<div id="page-content">
					<div class="row" >               
						<div class="col-lg-11">
							<h4 class="page-header">
								<i class="glyphicon glyphicon-dashboard"></i> <a href="/admin/home"> Dashboard </a>  <i class="glyphicon glyphicon-chevron-right"></i> <small> <a href="/admin/userapproval">User Approval</a> </small>	
								<input id="inputsearch"  type="text" name="search" placeholder="Tìm kiếm">
								<button id="buttonsearch" ><i class="glyphicon glyphicon-search" style="font-size: 14px;"></i></button>
								
							</h4>
						</div>
						<div class="col-lg-1" id="crbackground">
							<a href="" data-toggle="modal" data-target="#myModal" ><i class="glyphicon glyphicon-plus"></i> <i>New</i></a>
						</div>	

					</div>
		     <div class="body-content" id="tablecc">
		       
				<div class="table-responsive" >
					<table class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								<th>STT</th>
								<th>Username</th>
								<th>Email</th>
								<th>Password</th>
								<th>Edit</th>
								<th>Delete</th>
								
							</tr>
						</thead>
						<tbody>
							<% var stt = 1 %>
							<%if (userapproval!= null){for(i in userapproval){%>
							<%if(stt % 2 == 0){ %>
							<tr class="success">
								<%}else{%> 
								<tr class="warning">
									<%}%>
									<td style="width: 5%"><%= stt %><input type="hidden" id="<%=stt%>" value = "<%=userapproval[i]._id%>" ></td>
									<td style="text-align: left;"><%= userapproval[i].username %></td>
									<td style="text-align: left;"><%= userapproval[i].email %></td>
									<td style="text-align: left;"><%= userapproval[i].password %></td>
									<td style="width: 5%"><span class="btn btn-info" data-toggle="modal" data-target="#myModaledit" onclick="ClickEdit(<%=stt %>)">Edit</span></td>
									<td style="width: 5%"><span class="btn btn-warning" onclick="del(<%=stt++ %>)">Delete</span></td>
									
								</tr>

								<%}%>		
								<% }%>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		    </div>
		</div>
	</div>
	 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document" id="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

								<p class="modal-title" id="myModalLabel" style="color: #000000; font-size: 20px" >New User</p>
							</div>
							<div class="modal-body">
							<div class="form-group">
                                        <div class="input-group email-group">
							<span class="input-group-addon iconbg">
								<i class="glyphicon glyphicon-envelope"></i>
						  	</span>
						  	<input id="email" type="text"  class="form-control inputbg" name="email" value="" placeholder="abc.@gmail.com" >
						  	
						</div>
						<span id="loi_email"></span>	
						<div class="input-group username-group">
							<span class="input-group-addon iconbg">
								<i class="glyphicon glyphicon-user"></i>
						  	</span>
						  	<input id="username" type="text"  class="form-control inputbg" name="username" value="" placeholder="Enter username" >
						 
						</div>	
						 	<span id="loi_username"></span>
	
						<div class="input-group password-group">
						  	<span class="input-group-addon iconbg">
								<i class="glyphicon glyphicon-lock"></i>
						  	</span>
						  	<input id="password" type="password" ng-model="password"  class="form-control inputbg" name="password" placeholder="password">
						</div>
						 	<span id="loi_pass"></span>
					
						<div class="input-group password-group">
						  	<span class="input-group-addon iconbg">
								<i class="glyphicon glyphicon-lock"></i>
						  	</span>
						  	<input id="repassword" type="password" ng-model="password"  class="form-control inputbg" name="repassword" placeholder="Confirm password">
						</div>
						<span id="loi_repass"></span>
						<br>           
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button id = "createUser"  class="btn btn-success">Create</button>
								</div>

							</div>
						</div>
					</div>
					</div>
				</div> <!-- end modal -->
		         <!-- Modal -->
                            <div class="modal fade" id="myModaledit" role="dialog" style="margin-top: 60px;">
                              <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header" style="background-color: #333; color:#ffffff;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Edit</h4>
                                  </div>
                                  <div class="modal-body">
                                   <form action="/api/EditUserApproval" method="post">
                                    <input type="hidden" name="user_id" id="user_id">
                                     <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" name="username" id="editusername">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" id="editemail">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" class="form-control" name="password" id="editpassword">
                                    </div>
                                                                
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-success" >Submit</button>

                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- end Modal -->
	<script src= "/js/admin/user_approval.js"></script>
	<script src= "/js/admin/index.js"></script>
</body>
</html>