<div class="header">
	<nav class="navbar" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><i class="glyphicon glyphicon-list"></i></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right" id="navbar-right">
					<!-- <li><a href="#"><i class="glyphicon glyphicon-envelope"><span class="badge">0</span></i></a></li> -->
					<li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-envelope"><span class="badge">0</span></i> </a>
	                    <ul class="dropdown-menu message-dropdown">
	                        <li class="message-preview">
	                            <a href="#">
	                                <div class="media">
	                                    <span class="pull-left">
	                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
	                                    </span>
	                                    <div class="media-body">
	                                        <h5 class="media-heading"><strong>John Smith</strong>
	                                        </h5>
	                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
	                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="message-preview">
	                            <a href="#">
	                                <div class="media">
	                                    <span class="pull-left">
	                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
	                                    </span>
	                                    <div class="media-body">
	                                        <h5 class="media-heading"><strong>John Smith</strong>
	                                        </h5>
	                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
	                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="message-preview">
	                            <a href="#">
	                                <div class="media">
	                                    <span class="pull-left">
	                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
	                                    </span>
	                                    <div class="media-body">
	                                        <h5 class="media-heading"><strong>John Smith</strong>
	                                        </h5>
	                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
	                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
	                                    </div>
	                                </div>
	                            </a>
	                        </li>
	                        <li class="message-footer">
	                            <a href="#">Read All New Messages</a>
	                        </li>
	                    </ul>
	                </li>
					<!-- <li><a href="#"><i class="glyphicon glyphicon-alert"><span class="badge">0</span></i></a></li> -->
					<li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-alert"><span class="badge"><%=total%></span></i></a>
	                    <ul class="dropdown-menu alert-dropdown" style="height : 350px; overflow:auto;">
	                    	<%if (warning != ''){%>
	                    			<%for(i in warning){%>
	                    				 <li class="message-preview">
				                            <a href="#">
				                                <div class="media">
				                                    <span class="pull-left">
				                                        <img class="media-object" style = "width:50px; height :50px;" src="<%=warning[i].url%>" alt="">
				                                    </span>
				                                    <div class="media-body">
				                                        <h5 class="media-heading"><strong><span class="label label-warning">Alert</span></strong>
				                                        </h5>
				                                        <p class="small text-muted"><i class="fa fa-clock-o"></i><%=warning[i].created_at%></p>
				                                        <p><%=warning[i].content%></p>
				                                    </div>
				                                </div>
				                            </a>
				                        
	                    			<%}%>
	                    	<%}%>
	                        
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#">View All</a>
	                        </li>
	                    </ul>
	                </li>
					<li><a href=""><i class="glyphicon glyphicon-tasks"><span class="badge">0</span></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <%= session.username%> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-envelope"></i> Inbox</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/logout"><i class="glyphicon glyphicon-off"></i> Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
</div>