<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/style_artist.css">
</head>
<body>
	<div class="artist_container">
		<div class="artist_menu">
			<div class="header_menu">
				<a href=""><img src="/image/5.png"></a>
			</div>
			<div class="info_user">
				<span><img src="/image/2.jpg"> Hello, <%= session.username%></span>
			</div>
			<div class="content_menu">
				<ul>
					<li class="no_active">
						<a href="/home"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
					</li>
					<li class="no_active" id="ck_Sticker">
						<a href="/background"><i class="glyphicon glyphicon-picture"></i> Background</a>
					</li>
					<li class="no_active" id="ck_Sticker">
						<a href="/character"><i class="glyphicon glyphicon-tree-deciduous"></i> Character</a>
					</li>
					<li class="active" id="ck_sticker">
						<a href="/sticker"><i class="glyphicon glyphicon-hourglass"></i> Sticker</a>
					</li>
					<li class="no_active">
						<a href=""><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
					</li>
				</ul>			 
			</div>
		</div>
		<div class="artist_content">
			<%include header%>
			<div class="content">
				<div id="page-content">
					<div class="row" >               
						<div class="col-lg-11">
							<h4 class="page-header">
								<i class="glyphicon glyphicon-dashboard"></i> <a href="/home"> Dashboard </a> <i class="glyphicon glyphicon-chevron-right"></i> <small> <a href="/sticker"> Sticker </a> </small>
									<input id="inputsearch"  type="text" name="search" placeholder="Tìm kiếm">
								<button id="buttonsearch" ><i class="glyphicon glyphicon-search" style="font-size: 14px;"></i></button>
							</h4>
						</div>
						<div class="col-lg-1" id="crsticker">
							<a href="" data-toggle="modal" data-target="#myModal" ><i class="glyphicon glyphicon-plus"></i> <i data-toggle="tooltip" data-placement="top" title="Add Sticker!">New</i></a>
						</div>	

					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document" id="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

								<p class="modal-title" id="myModalLabel" style="color: #000000; font-size: 20px" >New Sticker</p>
							</div>
							<div class="modal-body">
								<input type="hidden" name="artistId" value="<%=session._id%>">
									<label>Title</label>
									<input type="text" class="form-control" name="title" id ="title"></br>
									<span id="loi_title"></span>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button id = "createSticker"  class="btn btn-success">Create</button>
								</div>

							
							</div>
						</div>
					</div>
				</div> <!-- end modal -->
				<!-- Modal -->
				<div class="modal fade" id="myModaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document" id="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

								<p class="modal-title" id="cc" style="color: #000000; font-size: 20px" >Edit Character</p>
							</div>
							<div class="modal-body">
								<input type="hidden" name="topicId" id = "topicId" value="">
								<label>Title</label>
								<input type="text" class="form-control" name="title" id ="edittitle"></br>
								<span id="loi_title"></span>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button id = "editsticker"  class="btn btn-success">Edit</button>
								</div>

							</div>
						</div>
					</div>
				</div> <!-- end modal -->
				<!-- Modal -->
				<div class="modal fade" id="myModalshow" role="dialog">
					
						<div >
							
							<div  id="show_img_title">	
								
							</div>
						</div>
				
				</div>
				<!-- end Modal -->
				<div class="modal fade" id="myboxModal" role="dialog" style="margin-top: 60px;">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header" style="background-color: #3c4446; color:#ffffff;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="chan1"></h4>
					</div>
					<div class="modal-body">
						<form id="uploadForm"
						enctype="multipart/form-data"
						action="/api/addSticker"
						method="post">	     
						<div class="form-group">
							<label>Image</label> 
							<input type="hidden" name="topicId" id = "chan3"> 
							<input type="file"  name="file" class="form-control"  multiple>       
						</div>
						<div class="modal-footer">
							<span class="glyphicon glyphicon-exclamation-sign" style="font-size: 20px;"></span><a style="color:red">Chỉ upload tối đa 10 ảnh 1 lúc</a>
							<button type="submit" class="btn btn-success" >Upload</button>

						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
				<div class="body-content">
					 <div id="news" class="news"></div>
					
								<% var stt = 1 %>
								<%if (topicSticker != ''){%>
								<div class="table-responsive" id="tablecc">
						<table class="table table-bordered table-hover table-striped">
							<thead>
								<tr>
									<th>STT</th>
									<th>Title</th>
									<th>Status</th>
											<th>Upload</th>
									<th>Edit</th>
									<th>Delete</th>
							
								</tr>
							</thead>
							<tbody>
								<%for(i in topicSticker){%>
									<%if(stt % 2 == 0){ %>
										<tr class="success">
									<%}else{%> 
										<tr class="warning">
									<%}%>
					

										<td style="width: 5%"><%= stt %><input type="hidden" id="<%=stt%>" value = "<%=topicSticker[i]._id%>" ></td>
										<td style="color: blue; width: 65%; text-align: left; cursor: pointer;" onclick ="clickTitleSticker('<%=topicSticker[i]._id%>')"><%= topicSticker[i].title %></td>
										<%if(topicSticker[i].status == 1){%>
											<td style="width: 10%">Confirm</td>
										<%}else{%>
											<td style="width: 10%">Waitting</td>
										<%}%>
										<td style="width:10%; font-size: 20px;"><span class="glyphicon glyphicon-cloud-upload"  data-toggle="modal" data-target="#myboxModal" onclick="Upload('<%=topicSticker[i]._id%>','<%=topicSticker[i].title%>')"></span></td>
										<td style="width: 5%"><span class="btn btn-info" data-toggle="modal" data-target="#myModaledit" onclick="ClickEdit(<%=stt++ %>)">Edit</span></td>
										<td style="width: 5%"><span class="btn btn-warning" onclick="clickDelete('<%=topicSticker[i]._id%>')">Delete</span></td>
										
									</tr>
									
									 <%}%>		
									 <% }%>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
		

		<script src="/js/artist/index.js"></script>
		<script src="/js/artist/artist_Sticker.js"></script>
	
	</body>
	</html>
